    <div class="row">
      <div class="bg-primary display-1 text-center">
        Welcome
      </div>
    </div>

    <div class="row">
      <div class="col">
              <h1 class="babename display-1 text-center text-primary"><b>CHUKWUDUBEM PALTIEL IJOMAH</b></h1>
            <div class="heading display-2 text-center">
              <h1><i>Goes To Church</i></h1>
            </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4 "></div>
      <div class="col-sm-4 col-md-4 col-lg-4 imgbox">
        <!-- <div></div> -->
        <img src="assets/IMG-20220620-WA0002.jpg" class="img-fluid pixbox" alt="My Baby Picture" width="400px" height="300px">
        <div class="bottomball"></div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4 "></div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-md-3"> 
        <div class="card-body">
        <div class="text-center"><b>Baby's Side</b></div>
          
              <p>
                I, Paltiel Chukwudubem Ifychukwu Ijomah am delighted to welcome you to this August event. I go to church on this day to fellowship
                with the brethren and to continue in that manner.
              </p>
          </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="card-body">
              <p>
                Alright, you have coome to baby's corner. Just as the wise men came to see Jesus in the manger (Matthew 2:11). 
                They came with <i><b> Gold, Frankiscence</b></i> and uh, can I remember again the third one. Mummmmmmy!
                please remind me!. Okay <b><i>Myrhh</i></b>.
                I know you have come with one or two for me,  because I know you love meeeee!
                Simply, convert it to cash and send to my mumy's bank account not Daddy's. 
                Of course, I wont give you Daddy's account number. Kindly, find my mumy's account number below:
              </p> 
        </div>
      </div>
      <div class="col-sm-2 col-md-3">
        <div class="card">
          <div class="card-body">
              <p>
                <b>Bank: </b> <i>Access bank</i>
              </p>
              <p>
                <b>Account Number:</b> 0700311365
              </p>
              <p>
                <b>Account Name:</b> Ijomah M. Hope
              </p>
              <div>
                <b class="thanks">Thank you Ma and Sir !!!</b>
              </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-sm-4 col-md-3"> 
      <div class="card-body">
      <div class="text-center"><b>Useful Contact</b></div>
        
            <p>
              In case, you need to reachout feel free to call the mummy on 070
            </p>
        </div>
    </div> -->